name:  CI

on:
  push:
    branches: [ "main"]
  pull_request:
    branches: [ "main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Build
      run: go build -v ./...

    - name: Install gotestsum
      run: go install gotest.tools/gotestsum@latest

    - name: Test with gotestsum
      run: gotestsum --format testname -- -v ./...
